<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="" routerLinkActive="active" routerLink="/home">
            <img class="icon-image" src="../../assets/ssre.png" alt="">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-main"
            aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar-main">
            <!-- <form class="form-inline mr-4 my-lg-0" *ngIf="isLoggedIn">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form> -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" routerLinkActive="active">
                    <a class="nav-link" href="" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
                    <a class="nav-link" href="" routerLink="/subjects">Asignaturas</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown" *ngIf="isLoggedIn">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-user"
                        aria-expanded="false">{{username}}
                        <span class="dropdown-caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-user">
                        <a class="dropdown-item" href="" routerLink="/create">Crear horario</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" routerLink="/preferences">Preferencias</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Salir</a>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
                    <button type="button" class="btn btn-secondary mr-3" routerLink="/login">Inicia Sesión</button>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
                    <button type="button" class="btn btn-success mr-3" routerLink="/signin">Regístrate</button>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="" routerLink="/about">Acerca de</a>
                </li>
            </ul>

        </div>
    </div>
</nav>