<div class="container pt-5 pb-5 ">
    <h2>Bienvenido al Sistema de Simulación de Ruta de Estudios</h2>
    <hr>
    <p class="text-justify ">
        Sistema de Simulación de Ruta de Estudios es una herramienta para la gestión de horarios creada para alumnos
        lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sed quidem laborum commodi rem
        earum et minima eligendi, eum architecto? Quidem, ipsum. Corporis neque atque suscipit iure! Ipsum,
        consectetur optio!
    </p>
    <br>
    <div class="text-center mt-3 mb-4">
        <img src="../../assets/hqssrelogo157x157.png" alt="SSRE">
    </div>
    <p class="text-center"><strong>¿Ya tienes una cuenta?</strong></p>
    <div class="text-center">
        <button type="button" class="btn btn-outline-primary mx-1" routerLink="/login">Inicia Sesión</button>
        <button type="button" class="btn btn-success mx-1" routerLink="/signin">Regístrate</button>
    </div>

</div>