<div class="container pt-5 pb-5 ">
    <h2>Bienvenido a el Sistema de Simulación de Ruta de Estudios</h2>
    <hr>
    <p class="text-justify ">
        El Sistema de Simulación de Ruta de Estudios es una herramienta para la gestión de horarios creada para alumnos
        en el cual podrás relaizar consultas a asignaturas y grupos. Desta manera se facilita mucho la forma en la que
        el estudiante realiza sus opciones o pruebas de horario, con la ventaja de revisar si las asignaturas se empalman o 
        si ya estaba inscrita previamente.
    </p>
    <br>
    <div class="text-center mt-3 mb-4">
        <img src="https://raw.githubusercontent.com/AlexRiosJ/ssre/master/src/assets/hqssrelogo157x157.png" alt="SSRE">
    </div>
    <p class="text-center"><strong>¿Ya tienes una cuenta?</strong></p>
    <div class="text-center">
        <button type="button" class="btn btn-outline-primary mx-1" routerLink="/login">Inicia Sesión</button>
        <button type="button" class="btn btn-success mx-1" routerLink="/signin">Regístrate</button>
    </div>

</div>