<div class="container text-center pt-5 pb-5 ">
  <div id="welcome-message">
      <h2 class="text-center">Bienvenido a SSRE</h2>
  </div>
  <div>
      <p>
          Sistema de Simulación de Ruta de Estudios es una herramienta para la gestión de horarios creada para alumnos 
          lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sed quidem laborum commodi rem 
          earum et minima eligendi, eum architecto? Quidem, ipsum. Corporis neque atque suscipit iure! Ipsum, 
          consectetur optio!
      </p>
  </div>
  <div class="log mt-5">
        <p>&ensp;¿Ya tienes una cuenta?&nbsp;&nbsp;
            <a href="" routerLinkActive="active" routerLink="/login">Inicia Sesión</a>
        </p>
      <p>&nbsp; ó &nbsp;</p>
      <a href="" routerLinkActive="active" routerLink="/signin">Regístrate</a>
  </div>
</div>