<div class="container mt-3">
    <h4 class="text-primary">Acerca De</h4>
    <hr>
    <p class="text-primary">
        El Sistema de Simulación de Ruta de Estudios es una herramienta para la gestión de horarios creada para alumnos
        en el cual podrás relaizar consultas a asignaturas y grupos. Desta manera se facilita mucho la forma en la que
        el estudiante realiza sus opciones o pruebas de horario, con la ventaja de revisar si las asignaturas se
        empalman o
        si ya estaba inscrita previamente. Existen tres puntos básicos:
    </p>
    <ul>
        <li>Crea todos los horarios que gustes.</li>
        <li>Verifica qué materias se encuentran en la base de datos en tiempo real.</li>
        <li>Disfruta de una interfaz gráfica muy amigable al usuario.</li>
    </ul>
    <hr>
    <p class="text-info text-center">
        ¿Tienes algún problema, duda o sugerencias? Contáctanos y así podremos ayudarte.
    </p>
    <blockquote class="blockquote text-center">
        <p class="mb-0">
            <em>asesoria@iteso.mx</em>
        </p>
    </blockquote>
    <hr>
    <p class="text-info text-center">
        Agradecimientos importantes a los creadores de la herramienta para:
    </p>
    <p class="text-info text-center">
        Alejandro Ríos
    </p>
    <p class="text-info text-center">
        Carmen Martínez
    </p>
    <p class="text-info text-center">
        Carlo Muñoz
    </p>
</div>