<table class="table table-bordered text-center m-0">
  <tr colspan="5">
      <td class="align-middle" rowspan="5"><button class="btn btn-success" (click)="groupToAdd()">✔</button></td>
      <td class="align-middle" rowspan="5"><button class="btn btn-danger" (click)="groupToRemove()">✖</button></td>
    <td class="group align-middle" rowspan="5">{{group.id}}</td>
    <td class="teacher align-middle" rowspan="5">{{group.teacher.lastname + ' ' + group.teacher.name}}</td>
  </tr>
  <tr id="" *ngFor="let info of group.classInfo">
    <td class="classroom align-middle">{{info.classRoom}}</td>
    <td class="class-time align-middle">{{getDay(info) + ' ' + getTime(info)}}</td>
    <td class="language align-middle">{{info.language}}</td>
  </tr>
</table>