  <div class="container">
    <h1>Crear horario</h1>
    <hr>
    <div class="row">
      <div class="col">
        <p class="small">Expediente: 708932, Alumno: RIOS JASSO ALEJANDRO</p>
      </div>
      <div class="col">
        <p class="small">Carrera: INGENIERIA EN SISTEMAS COMPUTACIONALES</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col col-lg-5">
      <div class="container">
        <app-subject-list-create></app-subject-list-create>
      </div>
    </div>
    <div class="col col-lg-7s">
      <div class="container">
        <app-timetable></app-timetable>
      </div>
    </div>
  </div>
  <div class="container">
    <button type="button" class="btn btn-primary btn-lg btn-block">Crear</button>
  </div>