.add {
    width: 58px;
}

.remove {
    width: 58px;
}

.group {
    width: 92px
}

.teacher {
    width: 267px
}

.classroom {
    width: 136px
}

.class-time {
    width: 115px
}

.language {
    width: 79px
}
