<div class="container mt-3">
  <h2 class="text-center p-3">Oferta de asignaturas</h2>
  <table class="table text-center m-0">
    <thead>
      <tr role="row" class="table-primary">
        <th class="code">Código</th>
        <th class="subject">Asignatura</th>
        <th class="area">Area</th>
        <th class="department">Depto</th>
        <th class="credits">Créditos</th>
        <th class="hrs">Hrs/Semana</th>
        <th class="info">Info</th>
      </tr>
    </thead>
  </table>
  <!-- ngFor -->
  <app-subject></app-subject>
</div>