<div class="container mt-3">
  <h3>Mi cuenta</h3>
  <hr>
  <div class="card mb-3">
      <div class="card-body">
          <h5 class="card-title">Nombre y apellidos</h5>
          <h6 class="card-subtitle text-muted">{{username}}</h6>
          <br>
          <h5 class="card-title">Expediente</h5>
          <h6 class="card-subtitle text-muted">{{id}}</h6>
          <br>
          <h5 class="card-title">Correo electrónico</h5>
          <h6 class="card-subtitle text-muted">{{id}}@iteso.mx</h6>
          <br>
          <h5 class="card-title">Carrera</h5>
          <h6 class="card-subtitle text-muted">{{major}}</h6>
          <br>
          <button class="btn btn-primary" data-toggle="modal" data-target="#editModal">Editar</button>
      </div>
  </div>
</div>

<div *ngIf="!isClosed" id="editModal" class="modal fade"> 
    <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div *ngIf="invalidNewPass" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert" (click)="invalidNewPass = false">&times;</button>
                    <span>Las contraseña deben coincidir</span>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                    <div class="form-group" id="fullName">
                        <div class="col-sm-12">
                            <label for="sName">Nombre</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                ngModel 
                                [(ngModel)]="student.name"
                                name="sName" 
                                id="sName" 
                                placeholder="Ingresa tu nombre"
                                required>
                        </div>

                        <div class="col-sm-12">
                            <label for="lastname">Apellidos</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                ngModel 
                                [(ngModel)]="student.lastname"
                                name="lastname" 
                                id="lastname" 
                                placeholder="Ingresa tus apellidos"
                                required>
                        </div>
                        <div class="col-sm-12">
                            <label for="carrera">Carrera</label>
                            <select 
                                class="form-control"
                                ngModel
                                [(ngModel)]="student.major"
                                id="majorList"
                                name="majorList"  >
                                <option *ngFor="let major of majorList" > 
                                    {{ major }}
                                </option>
                            </select>
                        </div>
                        <br>
                        <div class="change-password">
                            <h5>Cambio de contraseña</h5>
                            <div class="col-sm-12">
                                <label for="newPassword">Nueva Contraseña </label>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    ngModel 
                                    name="newPassword" 
                                    id="newPassword" 
                                    placeholder="Ingresa tu contraseña">
                            </div>

                            <div class="col-sm-12">
                                    <label for="confirmPassword">Confirmar Constraseña</label>
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        ngModel 
                                        name="confirmPassword" 
                                        id="confirmPassword" 
                                        placeholder="Ingresa tu nueva contraseña">
                                </div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" id="closeModal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Guardar</button>
            </div>
        </div>
    </div>
    </form>
</div>