<h5>Oferta Académica</h5>
<hr>
<ul class="nav nav-tabs nav-justified small">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#cu_tab">CU y SP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#sc_tab">SC</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#ing_tab">Inglés</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pap_tab">PAP</a>
  </li>
</ul>
<div id="tabContent" class="tab-content">
  <div class="tab-pane show active" id="cu_tab">
    <table class="table table-bordered table-sm">
      <thead class="table-active text-center">
        <th class="th-sm" style="width: 20%">ID</th>
        <th class="th-sm">Cr</th>
        <th class="th-sm" style="width: 100%">Asignatura</th>
        <th class="th-sm">Dept</th>
        <th class="th-sm">..</th>
      </thead>
    </table>
    <table class="table table-bordered table-sm table-fixed table-hover">
      <tbody class="small table-sm">
        <tr class="table" *ngFor="let subject of getSubjects()">
          <td (click)="childModal.show()" *ngIf="subject.area === 'CU' || subject.area === 'SP'" style="width: 20%">{{subject.code}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'CU' || subject.area === 'SP'">{{subject.credits}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'CU' || subject.area === 'SP'" style="width: 100%">{{subject.name}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'CU' || subject.area === 'SP'">{{subject.department}}</td>
          <app-group-list-create #childModal [subject]="subject"></app-group-list-create>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="sc_tab">
    <table class="table table-bordered table-sm">
      <thead class="table-active text-center">
        <th class="th-sm" style="width: 20%">ID</th>
        <th class="th-sm">Cr</th>
        <th class="th-sm" style="width: 100%">Asignatura</th>
        <th class="th-sm">Dept</th>
        <th class="th-sm">..</th>
      </thead>
    </table>
    <table class="table table-bordered table-sm table-fixed table-hover">
      <tbody class="small table-sm">
        <tr class="table" *ngFor="let subject of getSubjects()">
          <td (click)="childModal.show()" *ngIf="subject.area === 'SC'" style="width: 20%">{{subject.code}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'SC'">{{subject.credits}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'SC'" style="width: 100%">{{subject.name}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'SC'">{{subject.department}}</td>
          <app-group-list-create #childModal [subject]="subject"></app-group-list-create>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="ing_tab">
    <table class="table table-bordered table-sm">
      <thead class="table-active text-center">
        <th class="th-sm" style="width: 20%">ID</th>
        <th class="th-sm">Cr</th>
        <th class="th-sm" style="width: 100%">Asignatura</th>
        <th class="th-sm">Dept</th>
        <th class="th-sm">..</th>
      </thead>
    </table>
    <table class="table table-bordered table-sm table-fixed table-hover">
      <tbody class="small table-sm">
        <tr class="table" *ngFor="let subject of getSubjects()">
          <td (click)="childModal.show()" *ngIf="subject.area === 'ING'" style="width: 20%">{{subject.code}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'ING'">{{subject.credits}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'ING'" style="width: 100%">{{subject.name}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'ING'">{{subject.department}}</td>
          <app-group-list-create #childModal [subject]="subject"></app-group-list-create>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="pap_tab">
    <table class="table table-bordered table-sm">
      <thead class="table-active text-center">
        <th class="th-sm" style="width: 20%">ID</th>
        <th class="th-sm">Cr</th>
        <th class="th-sm" style="width: 100%">Asignatura</th>
        <th class="th-sm">Dept</th>
        <th class="th-sm">..</th>
      </thead>
    </table>
    <table class="table table-bordered table-sm table-fixed table-hover">
      <tbody class="small table-sm">
        <tr class="table" *ngFor="let subject of getSubjects()">
          <td (click)="childModal.show()" *ngIf="subject.area === 'PAP'" style="width: 20%">{{subject.code}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'PAP'">{{subject.credits}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'PAP'" style="width: 100%">{{subject.name}}</td>
          <td (click)="childModal.show()" *ngIf="subject.area === 'PAP'">{{subject.department}}</td>
          <app-group-list-create #childModal [subject]="subject"></app-group-list-create>
        </tr>
      </tbody>
    </table>
  </div>
</div>