<div class="container mt-3">
    <h2 class="text-primary">Sistema de Simulación de Ruta de Estudios</h2>

    <hr>
    <div class="row">
        <div class="col col-lg-4">
            <div id="userProfile">
                <h5 class="text-primary">Hola (nombre de usuario)</h5>
                <br>
                <h6 class="text-primary">Carrera:</h6>
                <h6 class="text-success">Ing. Sistemas Computacionales</h6>
            </div>
            <hr>
            <button id="btnNewTimeTable" type="button" class="btn btn-outline-primary btn-block">Crear nuevo
                horario</button>
            <hr>
            <div id="creditProgress">
                <h5 class="text-primary">Progreso de créditos</h5>
                <p class="credits-title">Saberes Profesionales:</p>
                <div class="progress mb-2">
                    <div class="progress-bar bg-success professional-credits" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="credits-title">Curriculum Universitario:</p>
                <div class="progress mb-2">
                    <div class="progress-bar bg-info basic-credits" role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="credits-title">Saberes Complementarios:</p>
                <div class="progress mb-2">
                    <div class="progress-bar bg-warning complementary-credits" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="badge badge-pill badge-success mx-1 px-2">220 de 326</span>
                <span class="badge badge-pill badge-info mx-1 px-2">56 de 56</span>
                <span class="badge badge-pill badge-warning mx-1 px-2">20 de 40</span>
            </div>
            <hr>
            <div id="payments">
                <h6 class="text-primary">Mensualidades Corto Plazo</h6>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr class="table-active">
                            <th>Fecha límite de pago</th>
                            <th>Importe</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10/03/2019</td>
                            <td>8,422.18</td>
                            <td>Peso</td>
                        </tr>
                        <tr>
                            <td>10/04/2019</td>
                            <td>8,422.18</td>
                            <td>Peso</td>
                        </tr>
                        <tr>
                            <td>08/05/2019</td>
                            <td>8,422.18</td>
                            <td>Peso</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 
                TODO: Define if this section should be here. There is already a section with this info
            <hr>
            <div id="about">
                <h5 class="text-primary">Bienvenido al Sistema de Simulación de Ruta de Estudios del ITESO</h5>
                <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, alias?
                    Possimus
                    laudantium eveniet dicta itaque.</p>
                <blockquote class="blockquote text-center"><em>asesoria@ayuda.mx</em></blockquote>
                <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, alias?
                    Possimus
                    laudantium eveniet dicta itaque.</p>
                <h6 class="text-primary">Novedades</h6>
                <h6 class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, placeat.
                </h6>
            </div> -->
        </div>
        <div class="col col-lg-8">
            <div id="currentTimeTable">
                <h5 class="text-primary">Horario actual</h5>
                <app-timetable></app-timetable>
            </div>
            <hr>
            <div id="timeTableList">
                <h5 class="text-primary">Lista de opciones</h5>
                <div id="opt1">
                    <h6 class="muted-text">Nombre de horario (Ej. 7mo Semestre)</h6>
                    <app-timetable></app-timetable>
                    <button class="btn btn-outline-danger">Eliminar opción</button>
                    <hr>
                </div>
                <div id="opt2">
                    <h6 class="muted-text">Nombre de horario (Ej. 7mo Semestre Tarde)</h6>
                    <app-timetable></app-timetable>
                    <button class="btn btn-outline-danger">Eliminar opción</button>
                    <hr>
                </div>
            </div>
            <button class="btn btn-primary btn-block">Volver arriba</button>
        </div>
    </div>
</div>