<div class="container mt-3">
    <h2 class="text-primary">Sistema de Simulación de Ruta de Estudios</h2>

    <hr>
    <div class="row">
        <div class="col col-lg-4">
            <div id="userProfile">
                <h5 class="text-primary">Hola {{userService.getActiveStudent().name}}</h5>
                <br>
                <h6 class="text-primary">Carrera:</h6>
                <h6 class="text-success">{{userService.getActiveStudent().major}}</h6>
            </div>
            <hr>
            <button id="btnNewTimeTable" type="button" class="btn btn-outline-primary btn-block" routerLink="/create">Crear nuevo
                horario
            </button>
            <hr>
            <button *ngIf="!showDetails" class="btn btn-block btn-outline-info mr-3" (click)="showDetails = !showDetails">Mostrar detalles de horarios</button>
            <button *ngIf="showDetails" class="btn btn-block btn-info mr-3" (click)="showDetails = !showDetails">Ocultar detalles de horarios</button>
        </div>
        <div class="col col-lg-8">
            <div id="noTimetables" *ngIf="userService.getActiveStudent().timetables.length <= 0">
                <div class="text-center">
                        <img src="https://raw.githubusercontent.com/AlexRiosJ/ssre/master/src/assets/hqssrelogo157x157.png" alt="SSRE">    
                </div>
                <br>
                <h5 class="text-primary text-center">¡Agrega nuevos horarios!</h5>
                <p class="text-success text-center">Aquí se verán los horarios que has creado</p>
            </div>
            <hr>
            <div id="timeTableList" *ngIf="userService.getActiveStudent().timetables.length > 0">
                <h5 class="text-primary">Lista de opciones</h5>
                <div *ngFor="let timeTable of userService.getActiveStudent().timetables">
                    <h6 class="muted-text"> {{timeTable.name}} </h6>
                    <app-timetable [groups]="timeTable.subjects"></app-timetable>
                    <app-timetable-list *ngIf="showDetails" [groups]="timeTable.subjects"></app-timetable-list>
                    <button class="btn btn-outline-danger" (click)="remove(timeTable.name)">Eliminar opción</button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
